# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
wheels/
*.whl

# Virtual environments
.venv/
venv/
env/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Type checkers
.mypy_cache/
.pyright/

# IDE
.vscode/
.idea/
*.swp
*.swo

# PyInstaller
dist/
installer-output/
AppDir/
appimagetool
*.AppImage

# Generated assets (recreated by scripts/generate_icon.py)
assets/icon.png
assets/icon.ico

# OS
.DS_Store
Thumbs.db
